button#start_stop {
  width: 80px;
  height: 40px;
  margin: 20px;
  text-transform: uppercase; }
  @media screen and (min-width: 360px) {
    button#start_stop {
      width: 100px;
      height: 50px; } }
  @media screen and (min-width: 768px) {
    button#start_stop {
      width: 150px;
      height: 75px;
      font-size: 1.8rem; } }

button#reset {
  width: 60px;
  height: 30px;
  color: #cecece;
  margin: 20px;
  text-transform: uppercase; }

.action-controls-wrapper {
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    .action-controls-wrapper {
      width: 30%;
      margin-top: 0;
      bottom: 100px;
      -webkit-transform: translate(0, 40%);
              transform: translate(0, 40%); } }
  @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .action-controls-wrapper {
      bottom: 130px; } }

#menu-controls-wrapper {
  width: 100%;
  position: relative; }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    #menu-controls-wrapper {
      width: 30%;
      bottom: 100px;
      -webkit-transform: translate(0, 40%);
              transform: translate(0, 40%);
      text-align: center; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    #menu-controls-wrapper {
      bottom: 130px; } }

.info-display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    .info-display-wrapper {
      width: 40%; } }

#timer-label {
  color: #149DA9;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    #timer-label {
      font-size: 4rem; } }
  @media screen and (min-width: 667px) and (max-width: 1023px) and (orientation: landscape) {
    #timer-label {
      font-size: 3.2rem; } }

.control {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1; }
  @media screen and (min-width: 320px) {
    .control {
      min-width: 160px;
      width: 50%;
      font-size: 1.2rem; } }
  @media screen and (min-width: 768px) {
    .control {
      font-size: 1.8rem; } }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    .control {
      min-width: 0;
      width: 100%;
      max-width: 160px;
      font-size: 1rem; } }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    .control {
      font-size: 1.44rem; } }
  .control .control-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .control .controlButton {
    width: 30px;
    height: 20px;
    line-height: 1;
    padding: 4px 0 4px;
    color: white; }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      .control .controlButton {
        width: 45px;
        height: 30px;
        font-size: 1.8rem;
        padding: 0px 0 2px;
        margin: 10px; } }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      .control .controlButton {
        width: 36px;
        height: 24px;
        font-size: 1.44rem;
        padding: 0px 0 2px;
        margin: 10px; } }
  .control .duration {
    display: inline-block;
    height: 20px;
    width: 2rem;
    line-height: 1; }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      .control .duration {
        height: 30px;
        width: 3rem; } }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      .control .duration {
        height: 24px;
        width: 2.4rem; } }

#timer-wrapper {
  position: relative; }

#time-left {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.4rem;
  color: #281C49;
  line-height: 1;
  font-family: 'Oxygen Mono', monospace; }
  @media (min-width: 481px) and (max-width: 767px) {
    #time-left {
      font-size: 4rem; } }
  @media (min-width: 768px) {
    #time-left {
      font-size: 5rem; } }
  @media (min-width: 481px) and (max-width: 1023px) and (orientation: landscape) {
    #time-left {
      font-size: 3.4rem; } }

@media screen and (max-width: 360px) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

@media screen and (min-width: 360px) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 300px;
    height: 300px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

@media screen and (min-width: 768px) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 400px;
    height: 400px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 260px;
    height: 260px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #circle {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  #clock {
    position: relative;
    width: 300px;
    height: 300px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  margin: 0;
  background: #55585E; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    #root {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

#clock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: auto; }
  @media screen and (min-width: 360px) {
    #clock-wrapper {
      width: 360px; } }
  @media screen and (min-width: 768px) {
    #clock-wrapper {
      width: 500px; } }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    #clock-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 90%;
      padding-bottom: 10px; } }

button {
  margin: 6px;
  background: #8f959e;
  border-radius: 3px;
  text-decoration: none;
  outline: none;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px #eee;
          box-shadow: inset 0px 0px 3px #eee;
  font-family: 'Roboto', sans-serif; }
  button:active {
    -webkit-transform: scale(0.97);
            transform: scale(0.97); }

